{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

<div class="tasks">
    <h3>All Tasks:</h3>
</div>

<table>
    <th>
        <tr>
            <td>ID</td>
            <td>Task</td>
            <td>Completed</td>
            <td>Notes</td>
        </tr>
    </th>

    {% for task in tasks %}
        <tr>
            <td>{{task.id}}</td>
            <td>{{task.task}}</td>
            <td>{{task.completed}}</td>
            <td>{{task.notes}}</td>
            <td><a href="{{ url('show-task',{'id' : task.id})}}">Show</a></td>
            <td><a href="{{ url('update-task',{'id' : task.id})}}">Update</a></td>
            <td><a href="{{ url('destroy-task',{'id' : task.id})}}">Destroy</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
