{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

<div class="section pb-0">
    <div class="container">
        <div class="tasks">
            <h2 class="title is-5">All Tasks:</h2>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="columns">
            {% if tasks is empty%}

            <div class="column">
                <div class="box">
                    <p>No tasks have been set yet.</p>
                </div>
            </div>

            {% else %}
            <div class="column">
                <table class="table">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Task</td>
                            <td>Category</td>
                            <td>Completed</td>
                            <td>Notes</td>
                        </tr>
                    </thead>

                    {% for task in tasks %}
                    <tr>
                        <td>{{task.id}}</td>
                        <td>{{task.task}}</td>
                        <td>{{task.category.name}}</td>
                        <td>{{task.completed}}</td>
                        <td>{{task.notes}}</td>
                        <td><a class="button" href="{{ url('show-task',{'id' : task.id})}}">Show</a></td>
                        <td><a class="button" href="{{ url('update-task',{'id' : task.id})}}">Update</a></td>
                        <td><a class="button" href="{{ url('destroy-task',{'id' : task.id})}}">Destroy</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div> <!-- Column -->
            {% endif %}
        </div> <!-- Columns -->
    </div>
</div>


{% endblock %}
