{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}

<div class="section">
    <div class="container">
        <div class="task">
            <h2 class="title is-5">Create a new Task!</h2>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">

        {{form_start(form, {'attr' : {'novalidate' : 'novalidate' }})}}
            <div class="field">
                <div class="control">

                    {% if form.task.vars.errors|length %}
                    <div class="tag is-danger">
                        {{ form_errors(form.task) }}
                    </div>
                    {% endif %}

                    <label class="label">
                        {{form_label(form.task)}}
                    </label>
                    {{form_widget(form.task, { 'attr': {'class': 'input', 'required' : false} })}}
                </div>
            </div>

            <div class="field">
                <div class="control">


                    <!--{% if form.notes.vars.errors|length %}-->
                        <!--<div class="tag is-danger">-->
                            <!--{{ form_errors(form.notes) }}-->
                        <!--</div>-->
                    <!--{% endif %}-->

                    <label class="label">
                        {{form_label(form.category, 'Category')}}
                    </label>
                    
                    <div class="select">
                        {{form_widget(form.category, { 'attr': {'class': ''} })}}
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">


                    {% if form.notes.vars.errors|length %}
                        <div class="tag is-danger">
                            {{ form_errors(form.notes) }}
                        </div>
                    {% endif %}

                    <label class="label">
                        {{form_label(form.notes, 'Notes')}}
                        <span class="tag is-link is-light">optional</span>
                    </label>
                    {{form_widget(form.notes, { 'attr': {'class': 'input'} })}}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{form_widget(form.save, {'label': 'Save', 'attr': {'class' : 'button'} })}}
                </div>
            </div>


        {{form_end(form)}}
    </div>
</div>
{% endblock %}
