{% extends 'base.html.twig' %}

{% block title %}Showing Task {{task.id}}{% endblock %}

{% block body %}

<div class="section">
    <div class="container">
        <div class="card ">

            <div class="card-header">
                <h3 class="card-header-title">{{task.task}}</h3>
            </div>

            <div class="card-content">
                <span>{{task.category.name}}</span>
            </div>

            <div class="card-content">
                <span>{{task.notes}}</span>
            </div>

            <div class="card-footer">

                <div class="card-footer-item">
                    <a class="button is-small is-success" href="{{ url('update-task', {'id' : task.id}) }}">Update</a>
                </div>

                <div class="card-footer-item">
                    <a class="button is-small is-danger" href="{{ url('destroy-task', {'id' : task.id}) }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
