<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="{{absolute_url('css/style.css')}}" title="" type="">

        {{ encore_entry_link_tags('app') }}

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar">
            <div class="navbar-menu">
                <a class="navbar-item" href="{{ url('tasks') }}">Tasks</a>
                <a class="navbar-item" href="{{ url('new-task') }}">New Task</a>
            </div>
        </nav>

        {% for message in app.flashes('notice')%}
        <div class="section">
            <div class="container">
                <div class="message is-info notice">
                    <p class="message-body">{{message}}</p>
                </div>
            </div>
        </div>
        {% endfor %}

        {% block body %}{% endblock %}


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Task List</strong> - a Symfony Application.
    </p>
  </div>
</footer>


    </body>
</html>
